/* Colors */
/* Import Assets */
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
.navigation {
  width: 100%;
  height: 8%;
  background: #02333a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 7px solid #011e22;
  min-height: 80px; }
  .navigation .invisible-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: visible; }
    @media screen and (max-width: 450px) {
      .navigation .invisible-container {
        /* Do this */ } }
    .navigation .invisible-container .logo-container {
      z-index: 1;
      height: 120%;
      padding: 2%;
      background: #02333a;
      overflow: visible;
      border-radius: 40px;
      border-bottom: 7px solid #011e22; }
      @media screen and (max-width: 450px) {
        .navigation .invisible-container .logo-container {
          /* Do this */ } }
      .navigation .invisible-container .logo-container .logo {
        height: 95%; }
  .navigation .levels-container {
    height: 60%;
    margin-right: 4%; }
    .navigation .levels-container .levels {
      height: 100%;
      width: 250px;
      border-radius: 10px;
      border: 2px solid #1c8da0;
      background: #02333a;
      font-family: 'Press Start 2P', cursive;
      font-size: 14px;
      color: #1c8da0;
      padding-left: 40px; }
      @media screen and (max-width: 450px) {
        .navigation .levels-container .levels {
          /* Do this */ } }
    .navigation .levels-container .levels:hover {
      color: #60afbc;
      border: 2px solid #60afbc; }
    .navigation .levels-container .level-option {
      background: #02333a;
      color: #1c8da0; }
    .navigation .levels-container select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }

.command-pane {
  background: #1c8da0;
  width: 100%;
  height: 30%; }
  .command-pane .command-queue {
    background-color: #c2c2f0; }
  .command-pane .action-button-container {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .command-pane .action-button-container .action-button {
      margin: 10px;
      height: 100px;
      width: 100px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
    .command-pane .action-button-container .action-icon {
      height: 50%;
      width: 50%; }
    .command-pane .action-button-container .action-icon::selection {
      background-color: rgba(255, 255, 255, 0); }
    .command-pane .action-button-container .action-forward {
      background: #78c042;
      border-bottom: 7px solid #4d9713; }
    .command-pane .action-button-container .action-forward:hover {
      background: #93cc67;
      border-bottom: 7px solid #70ab42; }
    .command-pane .action-button-container .action-rotate {
      background: #ea7750;
      border-bottom: 7px solid #c45d45; }
    .command-pane .action-button-container .action-rotate:hover {
      background: #ee9272;
      border-bottom: 7px solid #cf7d6a; }
    .command-pane .action-button-container .action-jump {
      background: #e8d700;
      border-bottom: 7px solid #c4b505; }
    .command-pane .action-button-container .action-jump:hover {
      background: #ecdf32;
      border-bottom: 7px solid #cfc336; }
    .command-pane .action-button-container .action-animate {
      transition: all 0.1s;
      -webkit-transition: all 0.1s; }
    .command-pane .action-button-container .action-button:active {
      transform: translate(0px, 7px);
      -webkit-transform: translate(0px, 7px);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

#board {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center; }

.board-container {
  height: 79%;
  width: 79%;
  padding-left: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #cbcbcb;
  border-left: 6px solid #cbcbcb; }

.tile {
  border-radius: 15px;
  border: 2px solid white;
  background-color: #f2f2f2;
  border-bottom: 3px solid #cbcbcb;
  border-left: 3px solid #cbcbcb;
  width: 18%;
  height: 18%; }

/* Import Fonts */
/* Fonts */
h1 {
  margin: 0; }

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
