/* Colors */
/* Import Assets */
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
.navigation {
  width: 100%;
  height: 8%;
  background: #02333a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 7px solid #011e22;
  min-height: 80px; }
  @media screen and (max-width: 600px) {
    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center; } }
  .navigation .invisible-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: visible; }
    @media screen and (max-width: 600px) {
      .navigation .invisible-container {
        width: 30%;
        top: 0;
        left: 0; } }
    .navigation .invisible-container .logo-container {
      z-index: 1;
      height: 120%;
      padding: 2%;
      background: #02333a;
      overflow: visible;
      border-radius: 40px;
      border-bottom: 7px solid #011e22; }
      @media screen and (max-width: 600px) {
        .navigation .invisible-container .logo-container {
          height: 100%;
          border-radius: 0px;
          border-bottom: 0;
          overflow: none;
          margin-left: 10px;
          margin-top: 10px;
          background: none; } }
      @media screen and (max-width: 380px) {
        .navigation .invisible-container .logo-container {
          margin-left: 50%; } }
      .navigation .invisible-container .logo-container .logo {
        height: 95%; }
        @media screen and (max-width: 600px) {
          .navigation .invisible-container .logo-container .logo {
            height: 80%; } }
  .navigation .levels-container {
    height: 60%;
    margin-right: 4%;
    display: flex;
    flex-wrap: nowrap; }
    @media screen and (max-width: 450px) {
      .navigation .levels-container {
        width: 10%;
        margin-right: 10%; } }
    .navigation .levels-container .about {
      height: 92%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 10px 10px 0;
      border: 2px solid #1c8da0;
      background: #02333a;
      font-family: 'Press Start 2P', cursive;
      font-size: 20px;
      color: #1c8da0;
      cursor: help; }
    .navigation .levels-container .about:hover {
      color: #60afbc;
      border: 2px solid #60afbc; }
    .navigation .levels-container .levels {
      height: 100%;
      width: 250px;
      border-radius: 10px 0 0 10px;
      border: 2px solid #1c8da0;
      background: #02333a;
      font-family: 'Press Start 2P', cursive;
      font-size: 14px;
      color: #1c8da0;
      padding-left: 40px; }
      @media screen and (max-width: 450px) {
        .navigation .levels-container .levels {
          width: 25%;
          background: url("/resources/images/burger-button.png") no-repeat;
          background-position: center center;
          background-size: 90%; } }
    .navigation .levels-container .levels:hover {
      color: #60afbc;
      border: 2px solid #60afbc; }
    .navigation .levels-container .level-option {
      background: #02333a;
      color: #1c8da0; }
    .navigation .levels-container select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }

.command-pane {
  background: #1c8da0;
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 2%; }
  @media screen and (max-width: 850px) {
    .command-pane {
      width: 100%;
      height: 42%;
      order: 2; } }
  .command-pane .command-queue {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll; }
  .command-pane .command-queue::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent; }
  .command-pane .command-queue::-webkit-scrollbar {
    width: 12px;
    background-color: transparent; }
  .command-pane .command-queue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #02333a; }
  .command-pane .command-container {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border-left: 7px solid #02333a;
    border-top: 7px solid #02333a;
    background: #006073;
    border-radius: 10px;
    overflow-y: scroll; }
    @media screen and (max-width: 850px) {
      .command-pane .command-container {
        height: 24%;
        width: 93%; } }
  .command-pane .runButtons-container {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; }
    @media screen and (max-width: 850px) {
      .command-pane .runButtons-container {
        height: 31%;
        width: 58%; } }
  .command-pane .action-button-container {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 5px solid #006073; }
    @media screen and (max-width: 1200px) {
      .command-pane .action-button-container {
        height: 29%;
        width: 79%; } }
    @media screen and (max-width: 850px) {
      .command-pane .action-button-container {
        height: 39%;
        width: 70%; } }
    .command-pane .action-button-container .action-button {
      margin: 10px;
      height: 70px;
      width: 70px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      background: #cbcbcb;
      border-bottom: 7px solid #a4a4a4; }
      @media screen and (max-width: 1400px) {
        .command-pane .action-button-container .action-button {
          height: 24%;
          width: 79%; } }
      @media screen and (max-width: 1200px) {
        .command-pane .action-button-container .action-button {
          height: 21%;
          width: 79%; } }
      @media screen and (max-width: 1000px) {
        .command-pane .action-button-container .action-button {
          height: 15%;
          width: 79%;
          margin: -78px -8px 6px 9px; } }
      @media screen and (max-width: 850px) {
        .command-pane .action-button-container .action-button {
          margin: 9px 0 37px 9px;
          height: 46px;
          width: 70px; } }
      @media screen and (max-width: 800px) {
        .command-pane .action-button-container .action-button {
          margin: 9px 0 37px 9px;
          height: 46px;
          width: 70px; } }
    .command-pane .action-button-container .action-icon {
      height: 50%;
      width: 50%; }
    .command-pane .action-button-container .action-forward {
      background: #78c042;
      border-bottom: 7px solid #4d9713; }
    .command-pane .action-button-container .action-forward:hover {
      background: #93cc67;
      border-bottom: 7px solid #70ab42; }
    .command-pane .action-button-container .action-rotate {
      background: #ea7750;
      border-bottom: 7px solid #c45d45; }
    .command-pane .action-button-container .action-rotate:hover {
      background: #ee9272;
      border-bottom: 7px solid #cf7d6a; }
    .command-pane .action-button-container .action-jump {
      background: #e8d700;
      border-bottom: 7px solid #c4b505; }
    .command-pane .action-button-container .action-jump:hover {
      background: #ecdf32;
      border-bottom: 7px solid #cfc336; }
    .command-pane .action-button-container .action-animate {
      transition: all 0.1s;
      -webkit-transition: all 0.1s; }
    .command-pane .action-button-container .action-button:active {
      transform: translate(0px, 7px);
      -webkit-transform: translate(0px, 7px);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

#board {
  width: 70%;
  height: 92%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  order: 2; }
  @media screen and (max-width: 850px) {
    #board {
      width: 98%;
      height: 47%; } }

.board-container {
  height: 88%;
  width: 65%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f2f2f2;
  border-bottom: 2vh solid #02333a;
  background: #1c8da0; }
  @media screen and (max-width: 1600px) {
    .board-container {
      height: 82%;
      width: 70%; } }
  @media screen and (max-width: 1400px) {
    .board-container {
      height: 80%;
      width: 80%; } }
  @media screen and (max-width: 1200px) {
    .board-container {
      height: 80%;
      width: 94%; } }
  @media screen and (max-width: 1000px) {
    .board-container {
      height: 59%;
      width: 94%; } }
  @media screen and (max-width: 850px) {
    .board-container {
      height: 77%;
      width: 58%; } }
  @media screen and (max-width: 700px) {
    .board-container {
      height: 77%;
      width: 77%; } }
  .board-container .tile {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: -2px 2px 0 1px;
    border-radius: 20px;
    border-bottom: 2vh solid rgba(0, 0, 0, 0.3);
    width: 18%;
    height: 18%; }
    @media screen and (max-width: 850px) {
      .board-container .tile {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0px 0 0px 1px;
        margin: -4px 0px 1px 2px;
        border-radius: 10px;
        background-color: #f2f2f2;
        border-bottom: 2vh solid rgba(0, 0, 0, 0.3);
        width: 18%;
        height: 17%; } }
  .board-container .clear {
    background: transparent;
    border-bottom: 2vh solid transparent; }
  .board-container .basement.odd {
    background: url("/resources/images/wall.png") #ea7750; }
  .board-container .basement.even {
    background: url("/resources/images/asfalt-light.png") #c45d45; }
  .board-container .cargo.odd {
    background: url("/resources/images/brushed-light.png") #78c042; }
  .board-container .cargo.even {
    background: url("/resources/images/brushed-dark.png") #4d9713; }
  .board-container .box-tile {
    width: 70%;
    margin-bottom: 10%; }
  .board-container .elevator-tile {
    width: 70%;
    margin-bottom: 10%; }
  .board-container .elevator-bottom {
    background: url("/resources/images/elevator-below.svg") no-repeat;
    background-size: 75%;
    background-position: center center;
    margin-bottom: -4%;
    display: flex;
    justify-content: center;
    align-content: center; }

.command-container {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-left: 7px solid #02333a;
  border-top: 7px solid #02333a;
  background: #006073;
  border-radius: 10px;
  overflow-y: hidden !important; }
  @media screen and (max-width: 850px) {
    .command-container {
      height: 24%; } }

.commandQueueIcon {
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer; }
  @media screen and (max-width: 850px) {
    .commandQueueIcon {
      width: 25px; } }

.commandQueueIcon-removable:hover {
  background-color: #c45d45; }

.commandQueueIcon-active {
  background-color: #1c8da0; }

.run-button-container {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center; }
  @media screen and (max-width: 850px) {
    .run-button-container {
      height: 30%;
      width: 76%; } }
  .run-button-container .run-button {
    margin: 10px;
    height: 60px;
    width: 60px;
    min-width: 45px;
    padding: 10px 30px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 1000px) {
      .run-button-container .run-button {
        height: 54px;
        width: 27px; } }
    @media screen and (max-width: 850px) {
      .run-button-container .run-button {
        margin: 8px;
        height: 42px;
        min-width: 27px; } }
  .run-button-container .go-action {
    background: #78c042;
    border-bottom: 12px solid #4d9713; }
  .run-button-container .go-action:hover {
    background: #93cc67;
    border-bottom: 12px solid #70ab42; }
  .run-button-container .stop-action {
    background: #ea7750;
    border-bottom: 12px solid #c45d45; }
  .run-button-container .stop-action:hover {
    background: #ee9272;
    border-bottom: 12px solid #cf7d6a; }
  .run-button-container .bin-action {
    background: #e8d700;
    border-bottom: 12px solid #c4b505; }
  .run-button-container .bin-action:hover {
    background: #ecdf32;
    border-bottom: 12px solid #cfc336; }
  .run-button-container .bin-icon {
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 850px) {
      .run-button-container .bin-icon {
        width: 150%; } }
  .run-button-container .run-animate {
    transition: all 0.2s;
    -webkit-transition: all 0.2s; }
  .run-button-container .run-button:active {
    transform: translate(0px, 6px);
    -webkit-transform: translate(0px, 6px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.robot-container {
  z-index: 100;
  position: absolute;
  overflow: visible; }

.b3-robot {
  position: absolute;
  width: 130%;
  height: 134%;
  background: url("../images/b3-robot.svg") no-repeat;
  background-size: 100%;
  z-index: 100; }
  @media screen and (max-width: 850px) {
    .b3-robot {
      position: absolute;
      width: 70%;
      height: 87%;
      left: 21px;
      top: 20px;
      background: url("../images/b3-robot.svg") no-repeat;
      background-size: 100%;
      z-index: 100; } }

.shadow {
  position: absolute;
  top: 62%;
  left: 19%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5; }
  @media screen and (max-width: 850px) {
    .shadow {
      position: absolute;
      top: 58%;
      left: 35%;
      width: 69%;
      height: 69%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 5; } }

/* Import Fonts */
/* Fonts */
body {
  overflow-y: hidden; }

h1 {
  margin: 0; }

h3 {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  color: #f2f2f2; }

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  @media screen and (max-width: 850px) {
    .app {
      flex-direction: column; } }
