@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
.navigation {
  position: fixed;
  width: 100%;
  height: 110px;
  background: #03323a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch; }

.logo {
  height: 100px;
  width: auto;
  margin: 5px;
  margin-left: 50px; }

.logo-container {
  padding: 5px;
  background: #03323a; }

.levels {
  height: 50px;
  width: 250px;
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
  background: #1c6e8c;
  font-family: 'Press Start 2P', cursive; }

.command-pane {
  z-index: 2;
  display: flex;
  flex-direction: column; }
  .command-pane .command-queue {
    background-color: #c2c2f0; }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center; }
