/* Colors */
/* Import Assets */
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
.navigation {
  position: fixed;
  width: 100%;
  height: 8%;
  background: #02333a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  border-bottom: 7px solid #011e22; }
  .navigation .invisible-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: visible; }
    @media screen and (max-width: 450px) {
      .navigation .invisible-container {
        /* Do this */ } }
    .navigation .invisible-container .logo-container {
      height: 120%;
      padding: 2%;
      background: #02333a;
      overflow: visible;
      border-radius: 40px;
      border-bottom: 7px solid #011e22; }
      @media screen and (max-width: 450px) {
        .navigation .invisible-container .logo-container {
          /* Do this */ } }
      .navigation .invisible-container .logo-container .logo {
        height: 95%; }
  .navigation .levels {
    height: 50px;
    width: 250px;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    background: #1c8da0;
    font-family: 'Press Start 2P', cursive; }
    @media screen and (max-width: 450px) {
      .navigation .levels {
        /* Do this */ } }

/* Import Fonts */
/* Fonts */
