/* Colors */
/* Import Assets */
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
.navigation {
  width: 100%;
  height: 8%;
  background: #02333a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 7px solid #011e22;
  min-height: 80px; }
  .navigation .invisible-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: visible; }
    @media screen and (max-width: 450px) {
      .navigation .invisible-container {
        /* Do this */ } }
    .navigation .invisible-container .logo-container {
      z-index: 1;
      height: 120%;
      padding: 2%;
      background: #02333a;
      overflow: visible;
      border-radius: 40px;
      border-bottom: 7px solid #011e22; }
      @media screen and (max-width: 450px) {
        .navigation .invisible-container .logo-container {
          /* Do this */ } }
      .navigation .invisible-container .logo-container .logo {
        height: 95%; }
  .navigation .levels-container {
    height: 60%;
    margin-right: 4%; }
    .navigation .levels-container .levels {
      height: 100%;
      width: 250px;
      border-radius: 10px;
      border: 2px solid #1c8da0;
      background: #02333a;
      font-family: 'Press Start 2P', cursive;
      font-size: 14px;
      color: #1c8da0;
      padding-left: 40px; }
      @media screen and (max-width: 450px) {
        .navigation .levels-container .levels {
          /* Do this */ } }
    .navigation .levels-container .levels:hover {
      color: #60afbc;
      border: 2px solid #60afbc; }
    .navigation .levels-container .level-option {
      background: #02333a;
      color: #1c8da0; }
    .navigation .levels-container select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }

.command-pane {
  position: absolute;
  bottom: 0;
  background: #78c042;
  width: 100%;
  height: 30%; }
  .command-pane .command-queue {
    background-color: #c2c2f0; }

#board {
  background: #f7ec37;
  height: 62%;
  width: 100%; }

/* Import Fonts */
/* Fonts */
h1 {
  margin: 0; }

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
