
#board {
	width: 100%;
	height: 55%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.board-container {
	height: 79%;
	width: 79%;
	padding-left: 1%;
	padding-bottom: 1%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	border-radius: 15px;
	background-color: $white;
	border-bottom: 6px solid $white-dark;
	border-left: 6px solid $white-dark;
}

.tile {
	border-radius: 15px;
	border: 2px solid white;
	background-color: $white;
	border-bottom: 3px solid $white-dark;
	border-left: 3px solid $white-dark;
}
