
#board {
	width: 70%;
	height: 92%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	order: 2;

	@media screen and (max-width: 850px) {
			width: 98%;
			height: 47%;
	}

}

.board-container {
	height: 79%;
	width: 79%;
	padding-bottom: 3%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 15px;
	background-color: $white;
	border-bottom: 2vh solid $blue-darkest;
	background: $blue;

	@media screen and (max-width: 850px) {
	    height: 77%;
	    width: 77%;
	    padding-bottom: 3%;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
	    border-radius: 15px;
	    background-color: #f2f2f2;
	    border-bottom: 2vh solid #02333a;
	    background: #1c8da0;
	}

		.tile {
		display:flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 0 1px 0 1px;
		border-radius: 20px;
		border-bottom: 2vh solid rgba(0,0,0,0.3);
		width: 18%;
		height: 18%;


			@media screen and (max-width: 850px) {
				display: flex;
			    justify-content: center;
			    align-content: center;
			    align-items: center;
			    padding: 0px 0 0px 1px;
			    margin: 1px 2px 1px 2px;
			    border-radius: 20px;
			    background-color: #f2f2f2;
			    border-bottom: 2vh solid rgba(0, 0, 0, 0.3);
			    width: 18%;
			    height: 15%;
			}
		}

		.clear {
			background: rgba(0,0,0,0.0);
			border-bottom: 2vh solid rgba(0,0,0,0.0);
		}

		.basement.odd {
			background: url('/resources/images/wall.png') $orange;
		}

		.basement.even {
			background: url('/resources/images/asfalt-light.png') $orange-dark;
		}

		.cargo.odd {
			background: url('/resources/images/brushed-light.png') $green;
		}

		.cargo.even {
			background: url('/resources/images/brushed-dark.png') $green-dark;
		}

		.box-tile {
			width: 70%;
			margin-bottom: 10%; 
		}

		.elevator-tile {
			width: 70%;
			margin-bottom: 10%; 
		}

		.elevator-bottom {	
			background: url('/resources/images/elevator-below.svg') no-repeat ;
			background-size: 75%;
			background-position: center center;
			margin-bottom: 10%; 
			display:flex;
			justify-content: center;
			align-content: center; 		
		}

}

