
#board {
	width: 70%;
	height: 92%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	order: 2;

	@media screen and (max-width: 850px) {
			width: 98%;
			height: 47%;
	}

}

.board-background {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 6px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 8px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.board-container.basement {
	background: url('/resources/images/rust.jpg');
}

.board-container.engine {
	background: url('/resources/images/metal-cross.png') #0d0f09;
}

.board-container.cargo {
	background: url('/resources/images/rust.jpg');
}

.board-container.garden {
	background: url('/resources/images/dirt.svg') #5B3000;
	background-size: 25%; 
}

.board-container.control {
	background: url('/resources/images/rust.jpg');
}

/*.board-container.cargo {
	background: $blue;
}*/

.board-container {
	height: 88%;
	width: 65%;
	padding-bottom: 3%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 15px;
	border-bottom: 2vh solid rgba(0, 0, 0, 0.5);
	/*background: $blue;*/

	@media screen and (max-width: 1600px) {
		height: 82%;
		width: 70%;
	}

	@media screen and (max-width: 1400px) {
		height: 80%;
		width: 80%;
	}

	@media screen and (max-width: 1200px) {
		height: 80%;
		width: 94%;
	}

	@media screen and (max-width: 1000px) {
		height: 59%;
		width: 94%;
	}

	@media screen and (max-width: 850px) {
	    height: 77%;
	    width: 58%;

	}

	   @media screen and (max-width: 700px) {
               height: 77%;
	    width: 77%;
            }

		.tile {
		display:flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: -8px 2px 0 1px;
		border-radius: 20px;
		border-bottom: 2vh solid rgba(0,0,0,0.3);
		width: 19%;
		height: 19%;


			@media screen and (max-width: 850px) {
				display: flex;
			    justify-content: center;
			    align-content: center;
			    align-items: center;
			    padding: 0px 0 0px 1px;
			    margin: -4px 0px 1px 2px;
			    border-radius: 10px;
			    background-color: #f2f2f2;
			    border-bottom: 2vh solid rgba(0, 0, 0, 0.3);
			    width: 18%;
			    height: 17%;
			}
		}

		.clear {
			background: rgba(0,0,0,0.0);
			border-bottom: 2vh solid rgba(0,0,0,0.0);
		}

		.basement.odd {
			background: url('/resources/images/wall.png') $orange;
		}

		.basement.even {
			background: url('/resources/images/asfalt-light.png') $orange-dark;
		}

		.engine.odd {
			background: url('/resources/images/brushed-light.png') $green;
		}

		.engine.even {
			background: url('/resources/images/brushed-dark.png') $green-dark;
		}

		.cargo.odd {
			background: url('/resources/images/brushed-light.png') $green;
		}

		.cargo.even {
			background: url('/resources/images/brushed-dark.png') $green-dark;
		}

		.garden.odd {
			background: url('/resources/images/grass-1.svg') $green;
		}

		.garden.even {			
			background: url('/resources/images/grass-2.svg') $green-dark;
		}

		.box-tile {
			width: 90%;
			margin-bottom: 20%;
		}

		.elevator-tile {
			width: 70%;
			margin-bottom: 10%;
		}

		.elevator-bottom {
			background: url('/resources/images/elevator-below.svg') no-repeat ;
			background-size: 75%;
			background-position: center center;
			margin-bottom: -4%;
			display:flex;
			justify-content: center;
			align-content: center;
		}

}
