
#board {
	width: 70%;
	height: 92%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	order: 2;

	@media screen and (max-width: 850px) {
			width: 100%;
			height: 50%;
	}

}

.board-container {
	height: 79%;
	width: 79%;
	padding-bottom: 3%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 15px;
	background-color: $white;
	border-bottom: 2vh solid $blue-darkest;
	background: $blue;

		.tile {
		display:flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 0 1px 0 1px;
		border-radius: 20px;
		border-bottom: 2vh solid rgba(0,0,0,0.3);
		width: 18%;
		height: 18%;
		}

		.basement.odd {
			background: url('/resources/images/wall.png') $orange;
		}

		.basement.even {
			background: url('/resources/images/asfalt-light.png') $orange-dark;
		}

		.cargo.odd {
			background: url('/resources/images/brushed-light.png') $green;
		}

		.cargo.even {
			background: url('/resources/images/brushed-dark.png') $green-dark;
		}

		.box-tile {
			width: 70%;
			margin-bottom: 10%; 
		}

		.elevator-tile {
			width: 70%;
			margin-bottom: 10%; 
		}

		.elevator-bottom {	
			background: url('/resources/images/elevator-below.svg') no-repeat ;
			background-size: 75%;
			background-position: center center;
			margin-bottom: 10%; 
			display:flex;
			justify-content: center;
			align-content: center; 		
		}

}

