$actionButtonElevation: 7px;

.command-pane {
    background: $blue;
    width: 30%;
    height: 90%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 2%;

    @media screen and (max-width: 850px) {
        width: 100%;
        height: 42%;
        order: 2;
    }

    .command-queue {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow-y: scroll;

    }

    .command-queue::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: rgba(0,0,0,0.0);
    }

    .command-queue::-webkit-scrollbar
    {
        width: 12px;
        background-color: rgba(0,0,0,0.0);
    }

    .command-queue::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: $blue-darkest;
    }

    .command-container {
        height: 30%;
        width: 80%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        border-left: 7px solid $blue-darkest;
        border-top: 7px solid $blue-darkest;
        background: $blue-darker;
        border-radius: 10px;
        overflow-y: scroll;
    }

    .runButtons-container {
        height: 30%;
        width: 80%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .action-button-container {
        height: 30%;
        width: 80%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-top: 5px solid $blue-darker;


        .action-button {
            margin: 10px;
            height: 70px;
            width: 70px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background: $white-dark;
            border-bottom: $actionButtonElevation solid #a4a4a4; 
        }

        .action-icon {
            height: 50%;
            width: 50%;
        }

        .action-forward {
            background: $green;
            border-bottom: $actionButtonElevation solid $green-dark;
        }

        .action-forward:hover {
            background: #93cc67;
            border-bottom: $actionButtonElevation solid #70ab42;
        }

        .action-rotate {
            background: $orange;
            border-bottom: $actionButtonElevation solid $orange-dark;
        }

        .action-rotate:hover {
            background: #ee9272;
            border-bottom: $actionButtonElevation solid #cf7d6a;
        }

        .action-jump {
            background: $yellow;
            border-bottom: $actionButtonElevation solid $yellow-dark;
        }

        .action-jump:hover {
            background: #ecdf32;
            border-bottom: $actionButtonElevation solid #cfc336;
        }

        .action-animate {
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
        }

        .action-button:active {
            transform: translate(0px,$actionButtonElevation);
              -webkit-transform: translate(0px,$actionButtonElevation);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }


    }


}
