.command-container {
  height: 30%;
  width: 80%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-left: 7px solid $blue-darkest;
  border-top: 7px solid $blue-darkest;
  background: $blue-darker;
  border-radius: 10px;
  overflow-y: hidden !important;

  @media screen and (max-width: 850px){
    height: 24%;
  }
}

.commandQueueIcon {
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  
  @media screen and (max-width: 850px){
    width: 25px;
  }
}

.commandQueueIcon-removable:hover {
  background-color: $orange-dark;
}

.commandQueueIcon-active {
  background-color: $blue;
}