.navigation {
    width: 100%;
    height: 8%;
    background: $blue-darkest;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 7px solid $blue-shadow;
    min-height: 80px;

        .invisible-container {
            width: 30%;
            height: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            overflow: visible;

            @media screen and (max-width: 450px) {
            /* Do this */
            }

            .logo-container {
                z-index: 1;
                height: 120%;
                padding: 2%;
                background: $blue-darkest;
                overflow: visible;
                border-radius: 40px;
                border-bottom: 7px solid $blue-shadow;

                @media screen and (max-width: 450px) {
                /* Do this */
                }

                .logo {
                    height: 95%;
                }
            }
        }

        .levels-container {
            height: 60%;
            margin-right: 4%;
                        
                .levels {
                height: 100%;
                width: 250px;
                border-radius: 10px;
                border: 2px solid $blue;
                background: $blue-darkest;
                font-family: 'Press Start 2P', cursive;
                font-size: 14px;
                color: $blue;
                padding-left: 40px;

                    @media screen and (max-width: 450px) {
                    /* Do this */
                    }
                }
        }

        
}









