.navigation {
	position: fixed;
	width: 100%;
	height: 8%;
	background: $blue-darkest;
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    border-bottom: 7px solid $blue-shadow;

	    .invisible-container {
			width: 30%;
			height: 100%;
			display:flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-content: center;
		    overflow: visible;

		    @media screen and (max-width: 450px) {
			/* Do this */
			}

		    .logo-container {
				height: 120%;
				padding: 2%;
				background: $blue-darkest;
				overflow: visible;
				border-radius: 40px;
			    border-bottom: 7px solid $blue-shadow;

			    @media screen and (max-width: 450px) {
				/* Do this */
				}

			    .logo {
					height: 95%;
				}
			}
		}

		.levels {
			height: 50px;
			width: 250px;
			margin: 30px;
			border-radius: 10px;
			padding: 10px;
			background: $blue;
			font-family: 'Press Start 2P', cursive;

			@media screen and (max-width: 450px) {
			/* Do this */
			}
		}
}









