.robot-container {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.b3-robot {
  position: absolute;
  width: 130%;
  height: 134%;
  background: url('../images/b3-robot.svg') no-repeat;
  background-size: 100%;
  z-index: 100;

  @media screen and (max-width: 850px) {
      position: absolute;
      width: 70%;
      height: 87%;
      left: 21px;
      top: 20px;
      background: url("../images/b3-robot.svg") no-repeat;
      background-size: 100%;
      z-index: 100;
    }
}

.shadow {
  position: absolute;
  top: 62%;
  left: 19%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  z-index: 5;

  @media screen and (max-width: 850px) {

    position: absolute;
    top: 58%;
    left: 35%;
    width: 69%;
    height: 69%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
}
