.run-button-container {
        height: 40%;
        width: 80%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;    
    

        .run-button {
            margin: 10px;
            height: 60px;
            width: 60px;
            padding: 10px 30px;
            border-radius: 25%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center; 
        }

        h3::selection {
            background-color: rgba(255,255,255, 0.0)
        }

        .go-action {
            background: $green;
            border-bottom: 12px solid $green-dark;
        }

        .go-action:hover {
            background: #93cc67;
            border-bottom: 12px solid #70ab42;
        }

        .stop-action {
            background: $orange;
            border-bottom: 12px solid $orange-dark;
        }

        .stop-action:hover {
            background: #ee9272;
            border-bottom: 12px solid #cf7d6a;
        }

        .run-animate {
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }

        .run-button:active {
            transform: translate(0px,12px);
              -webkit-transform: translate(0px,12px);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }


    }