.win-notice {
  text-align: center;

  p, h3 {
    font-family: 'Space Mono', monospace;
  }
  
  h3 {
    font-size: 30px;
  }

  .modal-button-container {
    height: 5%;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media screen and (max-width: 850px) {
      height: 30%;
      width: 76%;
    }

    .modal-button {
      margin: 10px;
      height: 80%;
      width: 150px;
      min-width:45px;
      padding: 10px 30px;
      border-radius: 5%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-shadow: 0px -2px rgba(0, 0, 0, 0.2);
      cursor: default;


      @media screen and (max-width: 850px) {
        margin: 8px;
        height: 42px;
        min-width: 27px;
      }
    }

    .win-action {
      background: $green;
      border-bottom: 6px solid $green-dark;
    }

    .win-action:hover {
      background: #93cc67;
      border-bottom: 6px solid #70ab42;
    }

    .modal-animate {
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
    }

    .modal-button:active {
      transform: translate(0px,6px);
      -webkit-transform: translate(0px,6px);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

  }

  .intro-b3 {
    height: 25%;
    width: 25%;
  }

}